<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxsfw.pub.dao.ReplyDao" >
  <resultMap id="BaseResultMap" type="com.dxsfw.pub.model.Reply" >
    <id column="replyid" property="replyid" jdbcType="INTEGER" />
    <result column="tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="pk" property="pk" jdbcType="INTEGER" />
    <result column="publishUserid" property="publishuserid" jdbcType="INTEGER" />
    <result column="replyUserid" property="replyuserid" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    replyid, tablename, pk, publishUserid, replyUserid, message, time, picture, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dxsfw.pub.model.ReplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_reply
    where replyid = #{replyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_reply
    where replyid = #{replyid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dxsfw.pub.model.ReplyExample" >
    delete from t_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dxsfw.pub.model.Reply" >
    insert into t_reply (replyid, tablename, pk, 
      publishUserid, replyUserid, message, 
      time, picture, status
      )
    values (#{replyid,jdbcType=INTEGER}, #{tablename,jdbcType=VARCHAR}, #{pk,jdbcType=INTEGER}, 
      #{publishuserid,jdbcType=INTEGER}, #{replyuserid,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{picture,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dxsfw.pub.model.Reply" >
    insert into t_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        replyid,
      </if>
      <if test="tablename != null" >
        tablename,
      </if>
      <if test="pk != null" >
        pk,
      </if>
      <if test="publishuserid != null" >
        publishUserid,
      </if>
      <if test="replyuserid != null" >
        replyUserid,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="replyid != null" >
        #{replyid,jdbcType=INTEGER},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="pk != null" >
        #{pk,jdbcType=INTEGER},
      </if>
      <if test="publishuserid != null" >
        #{publishuserid,jdbcType=INTEGER},
      </if>
      <if test="replyuserid != null" >
        #{replyuserid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dxsfw.pub.model.ReplyExample" resultType="java.lang.Integer" >
    select count(*) from t_reply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_reply
    <set >
      <if test="record.replyid != null" >
        replyid = #{record.replyid,jdbcType=INTEGER},
      </if>
      <if test="record.tablename != null" >
        tablename = #{record.tablename,jdbcType=VARCHAR},
      </if>
      <if test="record.pk != null" >
        pk = #{record.pk,jdbcType=INTEGER},
      </if>
      <if test="record.publishuserid != null" >
        publishUserid = #{record.publishuserid,jdbcType=INTEGER},
      </if>
      <if test="record.replyuserid != null" >
        replyUserid = #{record.replyuserid,jdbcType=INTEGER},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_reply
    set replyid = #{record.replyid,jdbcType=INTEGER},
      tablename = #{record.tablename,jdbcType=VARCHAR},
      pk = #{record.pk,jdbcType=INTEGER},
      publishUserid = #{record.publishuserid,jdbcType=INTEGER},
      replyUserid = #{record.replyuserid,jdbcType=INTEGER},
      message = #{record.message,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=TIMESTAMP},
      picture = #{record.picture,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxsfw.pub.model.Reply" >
    update t_reply
    <set >
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="pk != null" >
        pk = #{pk,jdbcType=INTEGER},
      </if>
      <if test="publishuserid != null" >
        publishUserid = #{publishuserid,jdbcType=INTEGER},
      </if>
      <if test="replyuserid != null" >
        replyUserid = #{replyuserid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where replyid = #{replyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxsfw.pub.model.Reply" >
    update t_reply
    set tablename = #{tablename,jdbcType=VARCHAR},
      pk = #{pk,jdbcType=INTEGER},
      publishUserid = #{publishuserid,jdbcType=INTEGER},
      replyUserid = #{replyuserid,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      picture = #{picture,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where replyid = #{replyid,jdbcType=INTEGER}
  </update>
</mapper>