<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!--
Title：生成命令：java -jar mybatis-generator-core-1.3.2.jar -configfile mybatis-generator.xml  -overwrite
Author: leo.zhou
CreateDate: 2013-7-10
-->
<generatorConfiguration>
	<classPathEntry location="./mysql-connector-java-5.1.23.jar" />

	<context id="DXSFW_Tables" targetRuntime="MyBatis3">
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>
		
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/dxsfw"
			userId="root" password="root">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>



        <javaModelGenerator targetPackage="com.dxsfw.party.model"
                            targetProject="../src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>


        <sqlMapGenerator targetPackage="mappers.party"
                         targetProject="../src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.dxsfw.party.dao"
                             targetProject="../src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        
        <table schema="" tableName="t_party"  domainObjectName="Party"/>
	</context>
</generatorConfiguration>