<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxsfw.jianzhi.dao.JianzhiShengqingDao" >
  <resultMap id="BaseResultMap" type="com.dxsfw.jianzhi.model.JianzhiShengqing" >
    <id column="shenqingid" property="shenqingid" jdbcType="INTEGER" />
    <result column="jianzhiid" property="jianzhiid" jdbcType="INTEGER" />
    <result column="publishUserid" property="publishuserid" jdbcType="INTEGER" />
    <result column="shengqingUserid" property="shengqinguserid" jdbcType="INTEGER" />
    <result column="jianliid" property="jianliid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    shenqingid, jianzhiid, publishUserid, shengqingUserid, jianliid, time, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dxsfw.jianzhi.model.JianzhiShengqingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_jianzhishengqing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_jianzhishengqing
    where shenqingid = #{shenqingid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_jianzhishengqing
    where shenqingid = #{shenqingid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dxsfw.jianzhi.model.JianzhiShengqingExample" >
    delete from t_jianzhishengqing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dxsfw.jianzhi.model.JianzhiShengqing" >
    insert into t_jianzhishengqing (shenqingid, jianzhiid, publishUserid, 
      shengqingUserid, jianliid, time, 
      status)
    values (#{shenqingid,jdbcType=INTEGER}, #{jianzhiid,jdbcType=INTEGER}, #{publishuserid,jdbcType=INTEGER}, 
      #{shengqinguserid,jdbcType=INTEGER}, #{jianliid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dxsfw.jianzhi.model.JianzhiShengqing" >
    insert into t_jianzhishengqing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shenqingid != null" >
        shenqingid,
      </if>
      <if test="jianzhiid != null" >
        jianzhiid,
      </if>
      <if test="publishuserid != null" >
        publishUserid,
      </if>
      <if test="shengqinguserid != null" >
        shengqingUserid,
      </if>
      <if test="jianliid != null" >
        jianliid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shenqingid != null" >
        #{shenqingid,jdbcType=INTEGER},
      </if>
      <if test="jianzhiid != null" >
        #{jianzhiid,jdbcType=INTEGER},
      </if>
      <if test="publishuserid != null" >
        #{publishuserid,jdbcType=INTEGER},
      </if>
      <if test="shengqinguserid != null" >
        #{shengqinguserid,jdbcType=INTEGER},
      </if>
      <if test="jianliid != null" >
        #{jianliid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dxsfw.jianzhi.model.JianzhiShengqingExample" resultType="java.lang.Integer" >
    select count(*) from t_jianzhishengqing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_jianzhishengqing
    <set >
      <if test="record.shenqingid != null" >
        shenqingid = #{record.shenqingid,jdbcType=INTEGER},
      </if>
      <if test="record.jianzhiid != null" >
        jianzhiid = #{record.jianzhiid,jdbcType=INTEGER},
      </if>
      <if test="record.publishuserid != null" >
        publishUserid = #{record.publishuserid,jdbcType=INTEGER},
      </if>
      <if test="record.shengqinguserid != null" >
        shengqingUserid = #{record.shengqinguserid,jdbcType=INTEGER},
      </if>
      <if test="record.jianliid != null" >
        jianliid = #{record.jianliid,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_jianzhishengqing
    set shenqingid = #{record.shenqingid,jdbcType=INTEGER},
      jianzhiid = #{record.jianzhiid,jdbcType=INTEGER},
      publishUserid = #{record.publishuserid,jdbcType=INTEGER},
      shengqingUserid = #{record.shengqinguserid,jdbcType=INTEGER},
      jianliid = #{record.jianliid,jdbcType=INTEGER},
      time = #{record.time,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxsfw.jianzhi.model.JianzhiShengqing" >
    update t_jianzhishengqing
    <set >
      <if test="jianzhiid != null" >
        jianzhiid = #{jianzhiid,jdbcType=INTEGER},
      </if>
      <if test="publishuserid != null" >
        publishUserid = #{publishuserid,jdbcType=INTEGER},
      </if>
      <if test="shengqinguserid != null" >
        shengqingUserid = #{shengqinguserid,jdbcType=INTEGER},
      </if>
      <if test="jianliid != null" >
        jianliid = #{jianliid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where shenqingid = #{shenqingid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxsfw.jianzhi.model.JianzhiShengqing" >
    update t_jianzhishengqing
    set jianzhiid = #{jianzhiid,jdbcType=INTEGER},
      publishUserid = #{publishuserid,jdbcType=INTEGER},
      shengqingUserid = #{shengqinguserid,jdbcType=INTEGER},
      jianliid = #{jianliid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where shenqingid = #{shenqingid,jdbcType=INTEGER}
  </update>
</mapper>